div{
    outline: 1px solid red;
}
body{
    background-color:#5E2C05;
}
.logoarea{
    width:100%;
    float:left;
    height: 100px;
    padding-top: 40px;
}
.menu{width:200px;
      float:left;
}
.logo{
    width:200px;
    color:white;
    font-size:2.5rem;
    font-weight: bold;
}
.slogan{
    width:700px;
    float:left;
    height: 100px;
    color:#C9A15F;
}
.aboutarea{
    width:1400px;
    float:centre;
    height:300px;
    color:darkseagreen;
    padding-top:40px;
}
.about{width:220px;
       color:white;
       font-size:3rem;
       font-weight:bold;
}
.abouttext{
    width:700px;
    float:centre;
    height:100px;
    color:white;
}
.sidemenuarea{width:50px;
             float:left;
             height:388px;
             color:lightblue;
              }
.sidemenu{width:50px;
          float:left;
}
.HowWeWorkarea{
    width:1200px;
    float:inherit;
    height:1200;
    color:lightblue;   
}
.HowWeWorkText{
    Width:1000px;
    float:inherit;
    height:100px;
    color:black;
}




      
      