
div {
    outline: 1px solid red;
}
.body {
    background-color:#5E2C05;
}
.logoarea {
    width:100%;
    float:left;
    height: 100px;
    padding-top: 40px;
}
.menu nav{width:200px;
      float:left;
      color:white;
      font-size:3rem;
      font-family: sans-serif;
      font-weight:bold;
      
}
.logo{
    width:200px;
    color:white;
    font-size:2.5rem;
    font-weight: bold;
}
.slogan{
    width:700px;
    float:left;
    height: 100px;
    color:#C9A15F;
    font-family: sans-serif;
    font-size: 0.9rem;
    margin-top: 18px;
}
.aboutarea{
    width:1400px;
    float:right;
    height:300px;
    color:darkseagreen;
    padding-top:40px;
}
.abouttext{
    width:700px;
    margin-left: auto;
    margin-right: auto;
    height:100px;
    color:white;
}
.sidemenuarea{width:50px;
             float:left;
             height:388px;
             color:lightblue;
              }
.sidemenu nav{width:50px;
    float:left;
    color:white;
    font-size:2rem;
    font-family: sans-serif;
    font-weight:bold;
    
}
.HowWeWorkarea{
    width:1200px;
    margin-left: auto;
    margin-right: auto;
    height:1200;
    color:lightblue;   
}
.HowWeWorkText{
    Width:1000px;
    margin-left: auto;
    margin-right: auto;
    height:100px;
    color:black;
}




      
      