@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');

html {
     border-top: 5px #f8c464 solid;
}
html {
     border-bottom: 5px #f8c464 solid;
}

body{
    background-color:#1e0c22;
    margin:2px;
    font-family: 'Lato', sans-serif;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto; 
}
.header{
    overflow: hidden; 
}
.nav{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    float:left;
    margin-top: 30px;
    margin-left: 35px;
}
.wonkagraph{
    width: 100%;
}
.links{
    margin-top:40px;
    margin-right:20px;
    color:#f8c464;
    float:right;
    min-width:200px;
}
.links a{
    padding:15px;
    color:darkmagenta;
    font-family: 'Marck Script', cursive;
    text-decoration:none; 
    text-align: right;
    font-size: 0.6em;
}
.links a:hover{
    color:white;
}
.links .current {
  color: white;
}
.center{
    height:1200px;
    max-width:950px;
    padding:10px;
}
.box {
    max-width:900px;
    height:400px;
    float: top;
    text-align: center;
    color: white;
   font-size: 0.6em;  
}
.box img{
    padding-top:10px;
    width: 70%;
    height:300px;
    float:bottom;
}
.about{
    max-width:900px;
    overflow: hidden; 
    float: top;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.7em;  
}  
.about img{
    padding-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
}
.contactbox{
    max-width:100%;
    overflow: hidden; 
    float: right;
    text-align: right;
    color: white;
    font-size: 0.6em;     
}
.contactbox img{
    width: 60%;
    float:left;
}
.footer text{
    font-size:0.6em;  
    float: left; 
    width: 30%;
}
.footer{
    max-width: 950px;
    padding:20px;
    color: darkmagenta; 
    text-align: left;
    overflow: hidden; 
}
.footer img{
    max-width: 50px;
    max-height: 50px;
    float: top;
    float: right;
}

/* media queries */
/* small devices (landscape phoes, 576 and up) */

@media (min-width: 576px){
    
    .links{
        margin-top: 40px;
        text-align: center;
        margin-bottom: 20px;
        font-size:1.1rem;
    }
    .links a {
        text-align: center;
        font-size: 1em;
    }
    .center{
    padding:20px;
    }
    .box {
    float: top;
    text-align: center;
    color: white;
    font-size: 0.9em;
    }
    .box img{
    width: 70%;
    float:bottom;
    }
    .about{
    overflow: hidden; 
    float: top;
    text-align: center;
    color: white;
    font-size: 0.9rem;      
    }  
    .about img{
    padding-top:10px; 
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
    }
    .contactbox{
    max-width: 900px;
    overflow: hidden; 
    float: right;
    text-align: right;
    color: white;
    font-size: 0.7rem;     
    }
    .contactbox img{
    width: 60%;
    float:left;
    }
    }

@media (min-width: 768px){
    
    links{
        margin-top: 40px;
        text-align: right;
        margin-bottom: 20px;
         /*font-size:1rem;*/
    }
    .links a {
        text-align: right;
    }
    .center{
    height:900px;
    max-width:768px;
    padding:20px;
    }
    .box {
    max-width:700px;
    height:300px;
    float: top;
    text-align: center;
    color:white;
    font-size: 0.8rem; 
    }
    .box img{
    width: 70%;
    height:200px;
    float:bottom;
    }
    .about{
    max-width:700px;
    overflow: hidden; 
    border-bottom:3px yellow;
    float: top;
    text-align: center;
    color: white;
    font-size: 0.7rem; 
    }  
    .about img{
    padding-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
    }
    .contactbox{
    width:700px;
    overflow: hidden; 
    border-bottom:3px yellow;
    float: right;
    text-align: right;
    color: white;
    }
    .contactbox img{
    width: 60%;
    float:left;
    }
    }
@media (min-width: 992px){
    
    .links{
        margin-top: 40px;
        text-align: right;
        font-size: 1.2em;
    }
    .center{
    height:1200px;
    max-width:950px;
    padding:20px;
    }
    .box {
    width:900px;
    height:400px;
    float: top;
    text-align: center;
    color: white;
    font-size: 0.9em;
    }
    .box img{
    width: 70%;
    height:300px;
    float:bottom;
    }
    .about{
    max-width:900px;
    overflow: hidden; 
    float: top;
    text-align: center;
    color: white;
    font-size: 0.9em;        
    }  
    .about img{
    padding-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
    }
    .contactbox{
    width:900px;
    overflow: hidden; 
    float: right;
    text-align: right;
    color: white;
    font-size: 0.9em;    
    }
    .contactbox img{
    width: 60%;
    float:left;
    
    }
}
@media (min-width: 1200px){
    body{
       
        background-color:#1e0c22;
        text-align: right;
    }
    .links{
        margin-top: 40px;
        text-align: center;
        margin-bottom: 20px;
        font-size:1.5rem;
    }
}

    
    
    
    
    
    
    
    
    
    
    
    
    