@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');

html {
     border-top: 5px yellow solid;
}

body{
    //*background:linear-gradient (to bottom right,#1e0c22, #white); Is not working*/
    background-color:#1e0c22;
    margin:2px;
    font-family: 'Lato', sans-serif;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto; 
}
.header{
    overflow: hidden; 
}
.nav{
    border-top-color: 5px yellow solid;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    float:left;
    margin-top: 30px;
    margin-left: 35px;
}
.wonkagraph{
    width: 100%;
}
.links{
    margin-top:40px;
    margin-right:20px;
    color:yellow;
    float:right;
    min-width:200px;
}
.links a{
    padding:15px;
    color:darkmagenta;
    outline: 1px white;
    font-family: 'Marck Script', cursive;
    text-decoration:none; 
    text-align: right;
     font-size: 0.6em;
}
.links a:hover{
    color:white;
}
.links .current {
  color: white;
}
.center{
    height:1200px;
    max-width:950px;
    padding:10px;
}
.box {
    width:900px;
    height:400px;
    border-bottom:3px yellow;
    float: top;
    text-align: center;
    color: white;
    font-size: 0.03rem,
}
.box img{
    padding-top:10px;
    width: 70%;
    height:300px;
    float:bottom;
}
.about{
    max-width:900px;
    overflow: hidden; 
    border-bottom:3px yellow;
    float: top;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
}  
.about img{
    padding-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
}
.contactbox{
    width:900px;
    overflow: hidden; 
    border-bottom:3px yellow;
    float: right;
    text-align: right;
    color: white;
    font-size: 0.4rem,      
}
.contactbox img{
    width: 60%;
    float:left;
}
.footer text{
    font-size:1rem;
    float: left; 
    width: 30%;
}
.footer{
    max-width: 950px;
    padding:20px;
    border-top-color:5px yellow solid;
    color: darkmagenta; 
    text-align: left;
    overflow: hidden; 
}
.footer img{
    max-width: 50px;
    max-height: 50px;
    float: top;
    float: right;
}

/* media queries */
/* small devices (landscape phoes, 576 and up) */

@media (min-width: 576px){
    body{
        background-color: plum;
    }
    .links{
        margin-top: 40px;
        text-align: center;
        margin-bottom: 20px;
        font-size:1rem;
    }
    .links a {
        text-align: center;
        font-size: 1em;
}
    }
    .center{
   /* max-height: 700px;*/
    padding:20px;
    }
    .box {
    width:500px;
    height:px;
    border-bottom:3px yellow;
    float: top;
    text-align: center;
    color: darkmagenta;
    /*font-size: 0.03rem,*/
    }
    .box img{
    width: 70%;
    height:100px;
    float:bottom;
    }
    .about{
    overflow: hidden; 
    border-bottom:3px yellow;
    float: top;
    text-align: center;
    color: darkmagenta;
    /*font-size: 0.03rem,*/         
    }  
    .about img{
    padding-top:10px; 
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
    }
    .contactbox{
    width:500px;
    overflow: hidden; 
    border-bottom:2rem yellow;
    float: right;
    text-align: right;
    color: white;
    /*font-size: 0.03rem,*/      
    }
    .contactbox img{
    width: 60%;
    float:left;
    }
    }

@media (min-width: 768px){
    body{
        background-color: mediumpurple;
    }
    links{
        margin-top: 40px;
        text-align: right;
        margin-bottom: 20px;
         /*font-size:1rem;*/
    }
    .links a {
        text-align: right;
    }
    .center{
    height:900px;
    max-width:768px;
    padding:20px;
    }
    .box {
    width:700px;
    height:300px;
    border-bottom:3px yellow;
    float: top;
    text-align: center;
    color: darkmagenta;
    /*font-size: 0.03rem,*/
    }
    .box img{
    width: 70%;
    height:200px;
    float:bottom;
    }
    .about{
    max-width:700px;
    overflow: hidden; 
    border-bottom:3px yellow;
    float: top;
    text-align: center;
    color: darkmagenta;
    /*font-size: 0.03rem,*/        
    }  
    .about img{
    padding-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
    }
    .contactbox{
    width:700px;
    overflow: hidden; 
    border-bottom:3px yellow;
    float: right;
    text-align: right;
    color: white;
    /*font-size: 0.03rem,*/      
    }
    .contactbox img{
    width: 60%;
    float:left;
    }
    }
@media (min-width: 992px){
    body{
        background-color: lightpink;
    }
    .links{
        margin-top: 40px;
        text-align: right;
    }
    
    .center{
    height:1200px;
    max-width:950px;
    padding:20px;
    }
    .box {
    width:900px;
    height:400px;
    border-bottom:3px yellow;
    float: top;
    text-align: center;
    color: white;
    /*font-size: 0.03rem,*/
    }
    .box img{
    width: 70%;
    height:300px;
    float:bottom;
    }
    .about{
    max-width:900px;
    overflow: hidden; 
    border-bottom:3px yellow;
    float: top;
    text-align: center;
    color: white;
    /*font-size: 0.03rem,*/          
    }  
    .about img{
    padding-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
    }
    .contactbox{
    width:900px;
    overflow: hidden; 
    border-bottom:3px yellow;
    float: right;
    text-align: right;
    color: white;
    /*font-size: 0.03rem,*/      
    }
    .contactbox img{
    width: 60%;
    float:left;
    
    }
}
@media (min-width: 1200px){
    body{
        /*background:linear-gradient(to bottom right,#1e0c22,#white); Is not working*/
        background-color:#1e0c22;
        text-align: right;
    }
}

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    