@import 
url('https://fonts.googleapis.com/css?family=Lato');
body{
    background-color: aliceblue;
    margin:2px;
    font-family: 'Lato', sans-serif;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto; 
}

div{
    outline: 1px solid grey;
    }
.header{
    background-color:beige;
    color:darkblue;
    height:200px;    
}
.nav{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto; 
}
.logo{
    float:left;
    margin-top: 40px;
    font-family:cursive;
    font-size:2rem;
}
.slogan{
    float:bottom;
    margin-bottom:40px;
    font-family:cursive;
    font-size:0.9rem;    
}
.links{
    float:right;
    margin-top:40px;
    font-size: 1rem;
    color: #4B4E61; 
}

.links a{
    padding:20px;
    color:darkblue;
    font-family: cursive;
}
.links a:hover{
    color:steelblue;
}
.center{
    height:2000px;    
}
.content{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.box1{
    color:blue;
    width:500px;
    height:400px;
    margin: 1px;
    margin-left: auto;
    margin-right: auto;
    
}
.box2{
    width:500px;
    height:400px;
    margin: 1px;
    color:gray;
    margin-left: auto;
    margin-right: auto;
}
.box3{
    color:yellow;
    width:500px;
    height:400px;
    margin:1px;
    margin-left: auto;
    margin-right: auto;
}

















